.cartItem {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem 0 0.5rem 0;
}

.removeItem {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.removeItem svg {
  font-size: 25px;
  color: rgb(161, 161, 161);
  transition: 0.5s;
}

.removeItem svg:hover {
  color: black;
}

.itemsAmount {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: rgb(115, 115, 115);
}

.itemsAmount span:nth-of-type(2) {
  font-size: 12px;
}
