.button {
  padding: 1rem 2rem;
  display: inline-block;
}

.buttonWhite {
  background: white;
  color: black;
}
.buttonWhite {
  background: white;
  color: black;
}

.buttonGreen {
  color: white;
  background: #0b9322;
}
